<div class="card">
  <div class="card-header">
    read.html  
  </div>
  <div class="card-body">
    <div>
      <div class="form-group">
          <label>제목:</label>
          <input class="form-control" ng-model="board.btitle" />
      </div>
      <div class="form-group">
          <label>내용:</label>
          <textarea class="form-control" ng-model="board.bcontent"></textarea>
      </div>
      <div class="form-group">
          <label>첨부:</label>
              <img src="{{battachUrl(board.bno)}}" width="200" class="mb-2"/>
          <input id="battach" type="file" class="form-control-file" />
      </div>
      <button class="btn btn-primary btn-sm" ng-click="updateBoard(board)">수정</button>
      <button class="btn btn-primary btn-sm" ng-click="cancel()">취소</button>        
  </div>  
  </div>
</div>