<div class="card">
    <div class="card-header">
      exam16_ng-switch
    </div>
    <div class="card-body">
      <div class="alert alert-primary">
        <div ng-repeat="mode in view.modes"> <!--div 3개가 생김-->
          <input type="radio" ng-model="view.mode" value="{{mode}}"> {{mode}}
        </div>
      </div>

      <div ng-switch on="view.mode">
        <div ng-switch-when="table"> <!--switch 안에 include사용 가능 / 화면전환 : route, include, switch-->
          <table class="table">
            <thead>
              <tr>
                <th>#</th>
                <th>Action</th>
                <th>Complete</th>            
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="item in todos">
                <td>{{index +1}}</td>
                <td ng-repeat="prop in item">{{prop}}</td><!--{{item.action}}-->
                <!--<td>{{item.complete}}</td>-->      
              </tr>
            </tbody>
          </table>
        </div>

        <div ng-switch-when="list">
          <ol>
            <li ng-repeat="item in todos">
              {{item.action}}
              <span ng-if="item.complete">Done</span> <!--complete가 true일 경우 done 나옴-->
            </li>
          </ol>
        </div>
        <div ng-switch-default>
          Select another option to display a layout
        </div>
        
      </div>
    </div>
</div>
