<style>
  .odd{
    background-color: #e0ecef;
  }
  .even{
    background-color: #f8f9fa;
  }      
</style>  

<div id="exam13Card" class="card">
    <div class="card-header">
      exam14_ng-repeat.html
    </div>

    <div class="card-body">
      <div class="alert alert-success">
          배열 항목 반복 및 객체 속성 반복
      </div>
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Action</th>
            <th>Complete</th>            
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in todos">
            <td>{{index +1}}</td>
            <td ng-repeat="prop in item">{{prop}}</td><!--{{item.action}}-->
            <!--<td>{{item.complete}}</td>-->
            
          </tr>
        </tbody>
      </table>
    


    <div class="alert alert-success">
        스트라이프된 행
    </div>
    <table class="table">
      <thead>
        <tr>
          <th>#</th>
          <th>Action</th>
          <th>Complete</th>            
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="item in todos" ng-class="$odd?'odd':'even'"> <!--ng-class-odd="'odd'" ng-class-even="'even'" 이거랑 같음-->
          <td>{{index +1}}</td>
          <td ng-repeat="prop in item">{{prop}}</td><!--{{item.action}}-->
          <!--<td>{{item.complete}}</td>-->          
        </tr>
      </tbody>
    </table>

    <div class="alert alert-success">
      스트라이프된 행
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>#</th>
        <th>Action</th>
        <th>Complete</th>            
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="item in todos" ng-class="$odd?'odd':'even'"> 
        <td>{{index +1}}</td>
        <td>{{item.action}}</td>
        <td ng-if="$first" class="bg-info">{{item.complete}}</td>        
        <td ng-if="$middle" class="bg-success">{{item.complete}}</td>  
        <td ng-if="$last" class="bg-warning">{{item.complete}}</td>  
              
        
      </tr>
    </tbody>
  </table>
    </div>
</div>
