<div id="exam13Card" class="card">
    <div class="card-header">
      exam13_two_way_binding.html
    </div>

    <div class="card-body">
      <lable for="firstItem">Set First Item</lable>
      <input id="firstItem" class="form-control" ng-model="todos[0].action"/>

    </div>
    <div class="alert alert-primary mt-2">The first item is: {{todos[0].action}}</div> <!--양방향 / 위에 ng-model이 있어서 이 값을 변경하면 저기도 변경됨-->

    <div>
      <input type="radio" value="개발자" ng-model="job"/> 개발자
      <input type="radio" value="디자이너" ng-model="job"/> 디자이너
      </div>
    <div>
      <div class="alert alert-primary mt-2">The job is: {{job}}</div> 
    </div>

    <hr/>
    <div class="d-flex alert alert-info justify-content-between">
      <div>완료된 일: <span class="badge badge-danger">{{(todos | filter: {complete:true}).length}}</span>개</div>
      <div>완료되지 않은 일: <span class="badge badge-warning">{{(todos | filter: {complete:false}).length}}</span>개</div>
    </div> 
    <div>
      <table class="table">
        <thead>
          <th>번호</th>
          <th>할일</th>
          <th>완료</th>
          
        </thead>
        <tbody>
          <tr ng-repeat="item in todos">
            <td>{{$index + 1}}</td>
            <td>{{item.action}}</td>
            <td><input type="checkbox" ng-model="item.complete"> </td>          
          </tr>
        </tbody>
      </table>
    </div>
</div>

<!--ng-model 밑에 두줄-->
    <!--양방향 바인딩 / select를 뉴욕으로 바꾸면 controller도 바뀜 /  데이터를 어디에 저장할 것인가-->
    <!--이 객체(city)에 이 속성(여기는아직없음)으로 저장하겟다 / 주로 form에서 많이 사용-->
