<style>
  .custom-class{
    background-color: #d0e7fd;
  }
</style>
<div class="card">
    <div class="card-header">
      exam18_ng-class_ng-style
    </div>
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Action</th>
            <th>Done</th>
          </tr>
        </thead>
        <tr ng-repeat="item in todos" ng-class-odd="{'custom-class' : status === true}">
          <!-- <tr ng-repeat="item in todos" ng-class-odd="'custom-class'">
          <tr ng-repeat="item in todos" ng-class-odd="customClass"> -->
          <!--" ">>상태속성이라 컨트롤러에서 정의 >> 언제든지 속성 값을 바꿀수잇음 / 위에거엿으면 "'custom-class'" >> 고정값 / -->
          <td>{{$index + 1}}</td>
          <td>{{item.action}}</td>
          <td ng-style="{'color': customColor, 'font-size':'1.5rem'}">{{item.complete}}</td>
          <!--ng-style은 {}필요 / 속성:값  / ng-style="{'color':'red', 'font-size':'1.5rem'}"
          customColor>> 상태데이터
          ng-style쓰는 이유 : 함수 등 다양하게 쓰려고-->
        </tr>
      </table>  
    </div>
</div>