<div class="card">
    <div class="card-header">
      exam08_rootScope_nestedcontroller.html
    </div>

    <div class="card-body">
      <div mb-3>
        <h6 class="alert alert-success">$rootScope의 상태 데이터 및 함수를 사용</h6>
        <div>로그인 ID: {{rootUid}} <br/></div> <!--전역 rootScope에서 값이 들어옴-->
        <div>인사말 : {{rootGetGreet()}}</div>
      </div>

      <div mb-3>
        <h6 class="alert alert-success">중첩된 상위 컨트롤러의 상태 데이터 및 함수를 사용</h6>
        <div>로그인 ID: {{mainUid}} <br/></div> <!--메인 컨트롤러에서 값이 들어옴-->
        <div>인사말 : {{mainGetGreet()}}</div>
      </div>

      <div mb-3>
        <h6 class="alert alert-success">로그인</h6>
        <div>ID: <input class="form-control" type="text" ng-model="user.uid"> <br/></div> <!--user.uid 자동적으로 객체가 생성됨--> 
        <div>PW: <input class="form-control" type="password" ng-model="user.upassword"></div>  <!--user.upassword 자동적으로 객체가 생성됨--> 
        <button class="btn btn-primary btn-sm mt-3" ng-click="login(user)">로그인</button> <!--여기는 exam08 컨트롤러-->
      </div>

    </div>
</div>

<!--ng-model 밑에 두줄-->
    <!--양방향 바인딩 / select를 뉴욕으로 바꾸면 controller도 바뀜 /  데이터를 어디에 저장할 것인가-->
    <!--이 객체(city)에 이 속성(여기는아직없음)으로 저장하겟다 / 주로 form에서 많이 사용-->
