</script>
<div id="exam12Card" class="card">
    <div class="card-header">
      exam12_one_way_binding.html
    </div>

    <div class="card-body">
      <div>
        There are 
        <span class="text-danger">{{todos.length}}</span> items
      </div>
      <div>
        There are   
        <span class="text-danger" ng-bind="todos.length"></span> items
        
      </div>
       
      <div>
        First Item: 
        <span class="text-danger">{{todos[0].action}}</span>
      </div>
      <div>
        First Item: 
        <span class="text-danger" ng-bind="todos[0].action"></span>
        
      </div>
    </div>
</div>

<!--ng-model 밑에 두줄-->
    <!--양방향 바인딩 / select를 뉴욕으로 바꾸면 controller도 바뀜 /  데이터를 어디에 저장할 것인가-->
    <!--이 객체(city)에 이 속성(여기는아직없음)으로 저장하겟다 / 주로 form에서 많이 사용-->
