<script>
  function handleBtn(){
    const value = $("#txtContent").val();
    console.log(value);
    $("#exam11Card").scope().$apply(`setContent("${value}")`); 
    //exam11Card의 ID를 찾고 exam11Card를 영역을 관장하는 컨트롤러의 스코프를 얻어서
    //setContent함수를 실행하는데 그안에 매개값이 Value임 
    //exam11Card를 관장하는 컨트롤러 >> exam11controller인데 얘가없으면 maincontroller
  }

</script>
<div id="exam11Card" class="card">
    <div class="card-header">
      exam11_outside_to_scope.html
    </div>

    <div class="card-body">
      <div class="alert alert-primary">
        <div class="form-group">
          <label>입력 데이터</label>
          <input type="text" id="txtContent" class="form-control"/>
        </div>
        <button class="btn btn-info btn-sm" onclick="handleBtn()">일반 버튼</button>
      </div>

      <div class="alert alert-success">
        입력값 : {{content}}
      </div>       
    </div>
</div>

<!--ng-model 밑에 두줄-->
    <!--양방향 바인딩 / select를 뉴욕으로 바꾸면 controller도 바뀜 /  데이터를 어디에 저장할 것인가-->
    <!--이 객체(city)에 이 속성(여기는아직없음)으로 저장하겟다 / 주로 form에서 많이 사용-->
