<div class="card">
  <div class="card-header">
    read.html  
  </div>
  <div class="card-body">
    <div>
      <div class="form-group">
        <label>제품이름:</label>
        <input class="form-control" ng-model="product.name" />
    </div>
    <div class="form-group">
      <label>제품설명:</label>
      <textarea class="form-control" ng-model="product.description"></textarea>
    </div>
    <div class="form-group">
      <label>제품카테고리:</label>
      <textarea class="form-control" ng-model="product.category"></textarea>
    </div>
    <div class="form-group">
      <label>제품가격:</label>
      <textarea class="form-control" ng-model="product.price"></textarea>
    </div>
      <button class="btn btn-primary btn-sm" ng-click="updateProduct(product)">수정</button>
      <button class="btn btn-primary btn-sm" ng-click="cancel()">취소</button>        
  </div>  
  </div>
</div>